/* General Start */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #3e3838;
    font-family: 'Montserrat';
    overflow-x: hidden;
}
/* General End */

/* Header Start */
#header{
    width: 100%;
    height: 50px;
    top: -50px;
    display: block;
    background-color: #000;
    position: fixed;
    z-index: 10;
    transition: top 0.3s;
    box-shadow: 0 2px 10px rgb(51, 51, 51);
}

#inner_header{
    width:950px;
    height: 100%;  
    display: block;
    margin: 0 auto;
}

#logo_container{
    height: 100%;
    display: table;
    float: left;
}

#logo{
    padding-top: 3px;
}

#navigation{
    float: left;
    height: 100%;
}

#navigation a{
    height: 100%;
    font-weight: bold;
    display: table;
    float: left;
    padding-right: 30px;
}

#navigation a:first-child{
    padding-left: 35px;
}

#navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #fff;
    font-size: 13px;
    position: relative;
    text-decoration: none;
}

#navigation a li:hover{
    color: #9a9a9a;
}

#navigation a li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#navigation a li:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#external{
    float: right;
    height: 100%;
}

#external a{
    height: 100%;
    display: table;
    float: left;
    padding-right: 25px;
}

#external a:last-child{
    padding-right: 0;
}

#external a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
/* Header End */

/* Overview Start */
.overview{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
}

.overview h1 span{
    color: #e4007c;
}
  
.container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
}

.box{
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    background: #000;
    border: 3px solid #fff;
    opacity: 0.95;
}
  
.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}
  
.fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
}
  
.header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background:#000;
    opacity:0.3;
}
  
.header-content{
    z-index:2;
}
  
.header-content h1{
    font-size:50px;
    margin-bottom:30px;
}
  
.header-content p{
    font-size:1.3rem;
    display:block;
    padding-bottom:2rem;
}

.overview_external{
    margin-top: 25px;
    height: 100%;
}

.overview_external a{
    padding-right: 10px;
}

.overview_external a :last-child{
    padding-left: 10px;
}

.overview_external li{
    display: inline;
}
  
@media(max-width:960px){
    .container{
        padding-right:3rem;
        padding-left:3rem;
    }
}
/* Overview End */

/* Skills Start */
.skills{
    align-items:center;
    color:#fff;
    height: 500px;
    width: 950px;
    margin: auto;
    padding-top: 50px;
    background: transparent;
}

.skills-box{
    height: 450px;
    padding-right: 50px;
    padding-left: 50px;
    background: #000;
    opacity: 0.95;
    border-radius: 8px;
    box-shadow: 0 5px 5px #363233
}
/* Skills End */

/* Footer Start */
#footer{
    width: 100%;
    height: 125px;
    background: #171821;
    text-align: center;
}

#footer p{
    color: #838573;
    padding: 50px;
}

#footer p span{
    color: #fff;
}
/* Footer End */