/* General Start */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f64a5a ;
    font-family: 'Montserrat';
    overflow-x: hidden;
}
/* General End */

/* Header Start */
#header{
    width: 100%;
    height: 50px;
    top: -50px;
    display: block;
    background-color: #000;
    position: fixed;
    z-index: 10;
    transition: top 0.3s;
    box-shadow: 0 2px 10px rgb(51, 51, 51);
}

#inner_header{
    width:950px;
    height: 100%;  
    display: block;
    margin: 0 auto;
}

#logo_container{
    height: 100%;
    display: table;
    float: left;
}

#logo{
    padding-top: 3px;
}

#navigation{
    float: left;
    height: 100%;
}

#navigation a{
    height: 100%;
    font-weight: bold;
    display: table;
    float: left;
    padding-right: 30px;
}

#navigation a:first-child{
    padding-left: 35px;
}

#navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #fff;
    font-size: 13px;
    position: relative;
    text-decoration: none;
}

#navigation a li:hover{
    color: #9a9a9a;
}

#navigation a li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#navigation a li:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#external{
    float: right;
    height: 100%;
}

#external a{
    height: 100%;
    display: table;
    float: left;
    padding-right: 25px;
}

#external a:last-child{
    padding-right: 0;
}

#external a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
/* Header End */

/* Overview Start */
.overview{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
}

.overview h1 span{
    color: #e4007c;
}
  
.container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
}

.box{
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    background: #000;
    border: 3px solid #fff;
    opacity: 0.95;
}
  
.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}
  
.fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
}
  
.header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background:#000;
    opacity:0.3;
}
  
.header-content{
    z-index:2;
}
  
.header-content h1{
    font-size:50px;
    margin-bottom:30px;
}
  
.header-content p{
    font-size:1.3rem;
    display:block;
    padding-bottom:2rem;
}

.overview_external{
    margin-top: 25px;
    height: 100%;
}

.overview_external a{
    padding-right: 10px;
}

.overview_external a :last-child{
    padding-left: 10px;
}

.overview_external li{
    display: inline;
}
  
@media(max-width:960px){
    .container{
        padding-right:3rem;
        padding-left:3rem;
    }
}
/* Overview End */

/* Skills Start */
#skills-form{
    background-color: #505050;
    border-top: 3px solid #8b868c;
    width:950px;
    height:620px;
    margin: 0 auto;
    border-radius:5px;
    margin-bottom: 5%;
    -webkit-border-radius:3px;
    background-size:25px 25px;
    -moz-border-radius:3px;
    box-shadow: 0 5px 5px #363233
}
#skills-form h1{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.input{
    margin-bottom:5%;
}

#name, #email,#submit{
    font-family: 'Montserrat';
    font-size:1.4em;  
    width:90%;
    margin-left: 5%;
    height:55px;
    border:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

#submit{
    background-color: #373737;
    color: #fff;
    width:90%;
}

#submit:hover{
    background-color: #e4007c;
    color: #fff;
}

textarea{
    font-family: 'Montserrat';
    margin-left: 5%;
    font-size:1.4em;
    color:black;
    height:225px;
    width:90%;
    border:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

.input:focus{
    outline: none;
}

@media screen and (max-width:350px){
    #skills-form{
        width:90%;
        height:390px;
        margin-left:auto;
        padding:2% 3% 0 3%;
        float:left;
    }

    #name,#email,#submit{
        font-size:.9em;
        height:41.25px;
    }

    .input{
        margin-bottom:2%;
    }

    textarea{
        height:168.75;
        font-size:.9em;
    }
}
/* Skills End */

/* Projects Start */
#projects-form{
    background-color: #3e3939;
    border-top: 3px solid #888994;
    width:950px;
    height:1600px;
    margin: 0 auto;
    margin-bottom: 5%;
    background-size:25px 25px;
}
#projects-form h1{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.box-right {
	width: 46.5%;
	float:right;
	margin-right: 2%;
}

.box-left {
	width: 46.5%;
	float:left;
	margin-left: 2%;
}

.row5 .box-right, .row5 .box-left {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    margin-top: 5%;
    border-radius:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	height: 430px;
    background-color: #505050;
    margin-bottom: 3%;
    box-shadow: 0 5px 5px #363233
}

.row5 p{
    padding-top: 5%;
    padding-left: 5%;
    color: #fff;
    display:flex;
    color:#fff;
}

.row5 p:hover{
    color: #9a9a9a;
}

.input{
    margin-bottom:5%;
}

#name, #email,#submit{
    font-family: 'Montserrat';
    font-size:1.4em;  
    width:90%;
    margin-left: 5%;
    height:55px;
    border:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

textarea{
    font-family: 'Montserrat';
    margin-left: 5%;
    font-size:1.4em;
    color:black;
    height:225px;
    width:90%;
    border:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

.input:focus{
    outline: none;
}

@media screen and (max-width:350px){
    #projects-form{
        width:90%;
        height:390px;
        margin-left:auto;
        padding:2% 3% 0 3%;
        float:left;
    }

    #name,#email,#submit{
        font-size:.9em;
        height:41.25px;
    }

    .input{
        margin-bottom:2%;
    }

    textarea{
        height:168.75;
        font-size:.9em;
    }
}
/* Projects End */

/* Contact Start */

#contact-form{
    background-color: #505050;
    border-top: 3px solid #8b868c;
    width:950px;
    height:620px;
    margin: 0 auto;
    border-radius:5px;
    margin-bottom: 5%;
    -webkit-border-radius:3px;
    background-size:25px 25px;
    -moz-border-radius:3px;
    box-shadow: 0 5px 5px #363233
}
#contact-form h1{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.input{
    margin-bottom:5%;
}

#name, #email,#submit{
    font-family: 'Montserrat';
    font-size:1.4em;  
    width:90%;
    margin-left: 5%;
    height:55px;
    border:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

#submit{
    background-color: #373737;
    color: #fff;
    width:90%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#submit:hover{
    background-color: #e4007c;
    color: #fff;
    cursor: pointer;    
}

textarea{
    font-family: 'Montserrat';
    margin-left: 5%;
    font-size:1.4em;
    color:black;
    height:225px;
    width:90%;
    border:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

.input:focus{
    outline: none;
}

@media screen and (max-width:350px){
    #contact-form{
        width:90%;
        height:390px;
        margin-left:auto;
        padding:2% 3% 0 3%;
        float:left;
    }

    #name,#email,#submit{
        font-size:.9em;
        height:41.25px;
    }

    .input{
        margin-bottom:2%;
    }

    textarea{
        height:168.75;
        font-size:.9em;
    }
}

/* Contact End */

/* Footer Start */
#footer{
    width: 100%;
    height: 125px;
    background: #171821;
    text-align: center;
}

#footer p{
    color: #838573;
    padding: 50px;
}

#footer p span{
    color: #fff;
}
/* Footer End */